:root {
  --theme-color-background: #ffffff;
  --theme-color-background-light: #fafafa;
  --theme-color-foreground: #000000;
  --theme-color-primary: #0055ff;
  --theme-color-secondary: #ff3300;
  --theme-color-gray: #777777;
  --theme-color-border: #eeeeee;
}

[data-theme="dark"] {
  --theme-color-background: #000000;
  --theme-color-background-light: #111111;
  --theme-color-foreground: #ffffff;
  --theme-color-gray: #aaaaaa;
  --theme-color-border: #444444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
}

html::before {
  content: "";
  display: block;
  width: 100%;
  height: 0.5rem;
  background-image: linear-gradient(
    90deg,
    var(--theme-color-primary),
    var(--theme-color-secondary)
  );
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 4rem;
  font-family: "Inter", sans-serif;
  background-color: var(--theme-color-background);
  color: var(--theme-color-foreground);
  line-height: 1.5;
}

main {
  margin-bottom: auto;
  padding-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: 1.3;
}

a {
  color: var(--theme-color-primary);
}
